

@media (max-width:768px) {
    .logo-flex{
       
    }
    .menu{
        width:80%;
        float: none;
        overflow: hidden;
        margin: 0 auto;
    }
    .menu ul{
       display: block;
        margin:20px auto;
        /* position: absolute;
        background-color: rgba(32, 130, 241, 0.849); */
    }
    
    .section3 .item-area:nth-child(even){
        width: 100%;
        float: none;
        background-color: var(--primary);
        color: var(--white);
     
    }.section3 .item-area:nth-child(odd){
        width: 100%;
        float: none;
        
    }
    .section3 .item-area{
        width: 100%;
    }
    .banner .banner-text{
        width: 90%;
        float: none;
        margin:0 auto;
        overflow: hidden;
        transform: translate(-0%, 25%);
        -webkit-transform: translate(-0%, 25%);
        -moz-transform: translate(-0%, 25%);
        -ms-transform: translate(-0%, 25%);
        -o-transform: translate(-0%, 25%);
        text-align: center;
}
    .section12 .Offer-box{
        display: block;
    }
    .section6 .flex{
        display: block;
    }
    .section7 img{
        margin-top: 5px;
    }
}

@media (max-width:1100px) {
    
    .section3 .item-area:nth-child(even)::after{
    display: none;
    }
    .section2::after{
        display: none;
        
    }
    .section3 .item-area:nth-child(odd)::after{
       display: none;
    }
}